<meta charset="UTF-8">
<title>Bonjour</title>
<link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.2.0/css/bootstrap.min.css">
<style>
	* { margin: 0; padding: 0; box-sizing: border-box; }
      body { font: 14px 微軟正黑體, Calibri; }
      #m{ 
        border: 2px solid black; 
        border-radius:5px;
        padding: 10px; 
        width: 90%; 
        margin: .5%; 
        position: fixed; 
        bottom: 0;
      }
      #send{ 
        width: 8%; 
        margin: .5%; 
        background: #dc143c;
        color:white; 
        border-radius:10px;
        padding: 10px; 
        position: fixed; 
        bottom: 0;
        right:5px;
        font-weight:bold;
      }
      #message_block{
        width:100%;
        position: absolute;
        top:0;
        bottom:5%;
        margin-bottom:20px;
        border-bottom: solid 2px #eee; 
        overflow:auto;
      }
      #messages { 
        list-style-type: none; 
        margin: 10px; 
        padding: 0; 
      }
      #messages li { 
        padding: 5px 10px; 
        font-size:16pt;
      }
      #messages li:nth-child(odd) { 
        background: #eee; 
        border-radius:5px;
      }
</style>
