<!DOCTYPE html>
<html lang="en">
<head>
    <% include ../partials/head %>
</head>
<body>
    <div id="message_block">
        <ul id="messages"></ul>
    </div>
        <input id="m" placeholder="我想說..." autocomplete="off" /><button id="send">Send</button>
  </body>
    
</body>
</html>